.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  background: rgb(174, 213, 238);
  background: radial-gradient(
    circle,
    rgba(174, 213, 238, 0.9) 0%,
    rgba(218, 233, 148, 0.9) 100%
  );
}
.title {
  color: rgb(202, 98, 18);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  margin: 15px 0;
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 3px;
}
.link {
  text-decoration: none;
  color: rgb(202, 98, 18);
  padding: 5px;
  border: 1px solid rgb(202, 98, 18);
  border-radius: 5px;
  background-color: rgb(202, 98, 18, 0.1);
}
.link:hover {
  background-color: #ed6c02;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  box-shadow: rgb(86, 86, 86) 3px 3px 5px 0px;
}
